body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 20px auto;
    border: 1px solid;
    background-color: black;
    color: white;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pad: 0 25px;
}

nav .primario,
nav .segundario {
    display: flex;
}

nav .logo{
    min-width: 250px;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 25px;

}

nav a:hover {
    color: black;
    background-color: #00c3ff;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer {
    text-align: center;
}

.barra {
    background-color: #00c3ff;
    height: 1px;
}

h3 {
    color: #00c3ff;
}

.creditos a {
    color: #00c3ff;
}

main {
    padding: 10px;
}

.lorem {
    width: 200px;
}